
<p>You need to install <a href="http://www.microsoft.com/en-us/download/details.aspx?id=29062">ENU\x64\SQLEXPRWT_x64_ENU.exe</a> which is Express with Tools (RTM release. SP1 release can be found <a href="http://www.microsoft.com/en-us/sqlserver/editions/2012-editions/express.aspx">here</a>).</p>
<p>As the page states</p>
<blockquote>
<p>Express with Tools (with LocalDB) Includes the database engine and SQL
  Server Management Studio Express) This package contains everything
  needed to install and configure SQL Server as a database server.
  Choose either LocalDB or Express depending on your needs above.</p>
</blockquote>
<p>So install this and use the management studio included with it.</p>
