
<p>These two links should help you privately deploy SQLCE.  But a very brief overview is: </p>
<ul>
<li>Add the DLLs to your project so that they copy to your build folder</li>
<li>Add the database factory entry to your app.config</li>
</ul>
<p><a href="http://www.codeproject.com/KB/linq/LinqAndSqlServerCe.aspx" rel="nofollow noreferrer">http://www.codeproject.com/KB/linq/LinqAndSqlServerCe.aspx</a></p>
<p><a href="http://blogs.msdn.com/b/stevelasker/archive/2008/10/22/privately-deploying-sql-server-compact-with-the-ado-net-entity-provider.aspx" rel="nofollow noreferrer">http://blogs.msdn.com/b/stevelasker/archive/2008/10/22/privately-deploying-sql-server-compact-with-the-ado-net-entity-provider.aspx</a></p>
