<p>To sort the list in place:</p>
<pre><code>orig_list.sort(key=lambda x: x.count, reverse=True)
</code></pre>
<p>To return a new list, use <code>sorted</code>:</p>
<pre><code>new_list = sorted(orig_list, key=lambda x: x.count, reverse=True)
</code></pre>
<p>Explanation:</p>
<ul>
<li><code>key=lambda x: x.count</code> sorts by count.</li>
<li><code>reverse=True</code> sorts in descending order.</li>
</ul>
<p>More on <a href="http://wiki.python.org/moin/HowTo/Sorting#Sortingbykeys" rel="noreferrer">sorting by keys</a>.</p>
