<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>StackOverflow Parser</title>
  <link href = "../static/reset.css" rel ="stylesheet" type = "text/css" >
  <link href = "../static/style.css" rel = "stylesheet" type = "text/css">
</head>
<body>
  <div class = "wrapper">
    <main class = "page-main main">
      <h1 class = "main__header">StackOverflow answer:</h1>
      <form action="/stackoverflow_get_request" method="post" class = "main__form form">
        <label>
          <input type = "text" name = "problem" placeholder="Ваш запрос" class = "form__input" >
        </label>
        <button type = "submit" class = "form__button">
          Request
        </button>
      </form>
      <div class = "main__answers answers">
        <div class = "answers__item">
          <span class = "answers__number-text">Answer 1</span>
          {% include 'new_answers/answer1.html' %}
        </div>
        <div class = "answers__item">
          <span class = "answers__number-text">Answer 2</span>
          {% include 'new_answers/answer2.html' %}
        </div>
        <div class = "answers__item">
          <span class = "answers__number-text">Answer 3</span>
          {% include 'new_answers/answer3.html' %}
        </div>
      </div>
    </main>
  </div>
</body>
</html>